// HOVERS
@media screen and ( min-width: 991px )
  .header__nav-link:hover
    color: white
    border-bottom: 2px solid white
  .showcase__video-play:hover
    background-color: #f7f4f2
  .showcase
    &__swiper-slide
      &:hover
        & .showcase__slide-video-box
          background-color: #17bebb
        & .showcase__swiper-slide-image
          opacity: 0.18
        & .showcase__swiper-slide-play
          display: none
        & .showcase__swiper-slide-play-hovered
          display: block


@media screen and ( max-width: 1200px )
  html
    font-size: 12px

@media screen and ( max-width: 1090px )
  .showcase
    &__video
      &-title
        margin-left: 50px
      &-description
        margin-left: 50px
