.header
  display: flex
  justify-content: space-between
  align-items: center
  &__logo
    margin-left: -1px
  &__nav
    flex-basis: 40%
    display: flex
    justify-content: space-between
    align-items: center
    min-width: 41rem
    &-link
      color: #dddddd
      text-decoration: none
      font-family: "Open Sans", sans-serif
      font-size: 1.14rem
      font-weight: 600
      margin-left: 10px
      padding-top: 1.45rem
      padding-bottom: 1.3rem
      border-bottom: 2px solid transparent
      transition: 0.3s border-bottom

.logo
  color: white
  text-decoration: none
  &__image
    margin-right: 1.357rem
  &__text
    font-family: "Istok Web", sans-serif
    font-weight: bold
    font-size: 2.571rem
    max-width: 17.14rem
    word-break: break-all
    display: inline-block
    line-height: 2.1rem
    // letter-spacing: 1.34px
    &--small
      font-size: 1.2rem
      letter-spacing: normal
      color: #dddddd
      word-spacing: 0

.hero
  height: 100vh
  background: #242f24 url(../img/hero/hero.jpg) center / cover no-repeat
  padding-top: 8.1vh
  max-height: 1001px
  &__header
    margin: 0 auto
    max-width: 88%
  &__title
    max-width: 31.85rem
    font-family: "Istok Web", sans-serif
    font-size: 6rem
    font-weight: bold
    letter-spacing: -2.3px
    line-height: 1
    text-align: left
    color: #ffffff
    margin-top: 2.8rem
    margin-bottom: 0
    // margin-left: 5rem
  &__text
    font-family: "Open Sans", sans-serif
    font-size: 1.74rem
    font-weight: 600
    font-stretch: normal
    font-style: normal
    line-height: 1.5
    letter-spacing: normal
    text-align: left
    color: #dddddd
    max-width: 19.5rem
    margin-top: 1.45rem