.showcase
  background-color: #f7f4f2;
  padding-bottom: 10rem
  &__video
    &-box
      background: transparent url(../img/showcase/video-box.png) center / cover no-repeat
      max-height: 506px
      max-width: 1002px
      height: 50vh
      position: relative
      transform: translateY(-61%)
      margin: 0 auto
      margin-bottom: -14rem
    &-play
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      transition: 1s background-color
      cursor: pointer
    &-title
      margin: 0
      padding-top: 6.5rem
      padding-bottom: 2rem
      font-family: "Istok Web", sans-serif
      font-size: 2.571rem
      font-weight: bold
      font-stretch: normal
      font-style: normal
      line-height: 1.33
      letter-spacing: -1.44px
      text-align: left
      color: #ffffff
    &-description
        font-family: "Open Sans", sans-serif
        font-size: 0.928rem
        font-weight: normal
        font-stretch: normal
        font-style: normal
        line-height: 1.85
        letter-spacing: normal
        text-align: left
        color: #dddddd
  &__places
    &-box
      display: flex
      justify-content: space-between
      position: relative
    &-title
        max-width: 275px;
        font-family: "Open Sans", sans-serif
        font-size: 24px
        font-weight: 600
        font-stretch: normal
        font-style: normal
        line-height: 1.5
        letter-spacing: normal
        text-align: left
        color: #222222
        &--attention
          color: #ff6600
    &-text
      width: 25%
      display: flex
      flex-direction: column
      justify-content: space-between
    &-all
      font-family: "Open Sans", sans-serif
      font-size: 16px
      font-weight: 600
      font-stretch: normal
      font-style: normal
      line-height: 1.75
      letter-spacing: normal
      text-align: left
      text-decoration: none
      color: black
      &-icon
        padding-left: 1.3rem
  &__swiper
    &-box
      width: 58.5%
      position: relative
    &-container
      // overflow: visible
      // margin-left: auto
      // margin-right: 0
      // padding-left: 50px
      // padding-right: 50px
    &-wrapper
    &-slide
      // background-color: white
      cursor: pointer
      &-play
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        &-hovered
          display: none
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
    &-prev
      height: 54px
      width: 54px
      background: #f7f4f2
      border-radius: 50% 
      left: -3rem
      top: 4.5rem
      margin-top: 0
      &::after
        content: ''
    &-next
      height: 54px
      width: 54px
      background: #f7f4f2
      border-radius: 50%
      right: -3rem
      top: 4.5rem
      margin-top: 0
      &::after
        content: ''
  &__slide
    &-video-box
      position: relative
    &-title
      max-width: 280px
      font-family: "Open Sans", sans-serif
      font-size: 13px
      font-weight: normal
      font-stretch: normal
      font-style: normal
      line-height: 1.85
      letter-spacing: normal
      text-align: left
      color: #444444